
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>addAPP02</title>
    <link rel="stylesheet" type="text/css" href="css/addapp.css"/>
</head>


<body class="add02">


<form method="post">

    <div>
        <select class="choose02" name="busLink">
            <option value="研发设计工业APP">研发设计工业APP</option>
            <option value="生产制造工业APP">生产制造工业APP</option>
            <option value="运维服务工业APP">运维服务工业APP</option>
            <option value="经营管理工业APP">经营管理工业APP</option>
        </select>
    </div>

    <div>
        <button class="next" name="action" type="submit" value="next"> Next </button>
    </div>

</form>


</body>


</html>