
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>addAPP04</title>
    <link rel="stylesheet" type="text/css" href="css/addapp.css"/>
</head>


<body class="add04">


<form method="post">

    <div>
        <input class="setname" name="iname" type="text" placeholder="please input name here" required>
    </div>

    <div>
        <button class="next" name="action" type="submit" value="next"> Next </button>
    </div>

</form>


</body>


</html>