
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>addAPP07</title>
    <link rel="stylesheet" type="text/css" href="css/addapp.css"/>
</head>


<body class="add07">


<form method="post">

    <div>
        <select class="choose07" name="innova">
            <option value="一级要求">一级要求</option>
            <option value="二级要求">二级要求</option>
            <option value="三级要求">三级要求</option>
            <option value="四级要求">四级要求</option>
            <option value="五级要求">五级要求</option>
        </select>
    </div>

    <div>
        <button class="next" name="action" type="submit" value="next"> Submit now！ </button>
    </div>

</form>


</body>


</html>