
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>addAPP06</title>
    <link rel="stylesheet" type="text/css" href="css/addapp.css"/>
</head>


<body class="add06">


<form method="post">

    <div>
        <select class="choose06" name="controla">
            <option value="Ⅰ">Ⅰ</option>
            <option value="Ⅱ">Ⅱ</option>
            <option value="Ⅲ">Ⅲ</option>
            <option value="Ⅳ">Ⅳ</option>
        </select>
    </div>

    <div>
        <button class="next" name="action" type="submit" value="next"> Next </button>
    </div>

</form>


</body>


</html>