
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>addAPP03</title>
    <link rel="stylesheet" type="text/css" href="css/addapp.css"/>
</head>


<body class="add03">


<form method="post">

    <div>
        <select class="choose03" name="knowledgeAspect">
            <option value="业务信息化类">业务信息化类</option>
            <option value="数据分析类">数据分析类</option>
            <option value="知识建模类">知识建模类</option>
        </select>
    </div>

    <div>
        <button class="next" name="action" type="submit" value="next"> Next </button>
    </div>

</form>


</body>


</html>