
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>FormalHello</title>
    <link rel="stylesheet" type="text/css" href="css/formalhello.css"/>
</head>


<body class="myformalhello">

<!--    <p>this is formalhello html 成功登录主界面</p>-->

    <form method="post">

        <div>
            <button button class="b2" type="submit" name="action" value="appGoto"> 提交工业APP </button>
        </div>

        <div>
            <button button class="b4" type="submit" name="action" value="appSearch"> 关于工业APP </button>
        </div>

        <div>
            <button button class="b3" type="submit" name="action" value="appShow"> 展示APP详情 </button>
        </div>

        <div>
            <button button class="b1" type="submit" name="action" value="changeUser"> 修改用户信息 </button>
        </div>

        <div>
            <button button class="b5" type="submit" name="action" value="exitUser"> 登出 </button>
        </div>

    </form>

</body>


</html>